<div class="form-wrapper">
  <h2>Registro</h2>
  <form [formGroup]="form" (submit)="signup($event)">
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Enter your Name</mat-label>
        <input matInput placeholder="" formControlName="name" required>
        <mat-error>Este campo es requerido</mat-error>
      </mat-form-field>
    </div>
    
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Enter your Email</mat-label>
        <input matInput placeholder="" type="email" formControlName="email" required>
        <mat-error>Este campo es requerido</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="standard">
        <mat-label>Enter your Password</mat-label>
        <input matInput type="password" placeholder="" formControlName="password" required>
        <mat-error>Este campo es requerido</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="standard">
        <mat-label>Confirm your Password</mat-label>
        <input matInput type="password" placeholder="" formControlName="confirm" required>
        <mat-error>Este campo es requerido</mat-error>
      </mat-form-field>
    </div>
    
    <p>
      <mat-error *ngIf="form.errors && form.errors.mismatch">Las contraseñas no coinciden</mat-error>
    </p>

    <button mat-raised-button color="primary">Enviar {{form.valid}}</button>
  </form>
</div>