<div class="form-wrapper">
  <h2 id="titulo">Inicio de Sesion</h2>
  <form (submit)="login()">
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Enter your Email</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="credentials.email" required>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="standard">
        <mat-label>Enter your Password</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="credentials.password" required>
      </mat-form-field>
    </div>

    <p *ngIf="error" id="errorMsg">Credenciales incorrectas</p>

    <button mat-raised-button color="primary" id="submit">Iniciar sesion</button>
    <p>Si no tienes cuenta <a routerLink="/signup">Registrate aqui</a></p>
  </form>
</div>
